/*yellow THEME*/
body,
.main {background-image:url(../images/backgrounds/ravenna.png);}

::-moz-selection {background:#EFBA01;color:#fff;}
::selection 	 	{background:#EFBA01;color:#fff;}

/*HEADER*/
.logo		{background:url(../images/themes/yellow/txt/logo.png) 0 15px no-repeat;width:224px;height:50px;display:inline-block;}
.logo a 		{float:left;display:block;width:100%;height:100%;}
.logo img 	{display:none;}

.contact 		{background:url(../images/themes/yellow/ico/icons.png) 0 1px no-repeat;}
header .ribbon 	{background-image:url(../images/themes/yellow/bgr/ribbon-long.png);}
.ribbon li		{border-color:#D6A601;}
.ribbon li a:hover {color:#666;}
.ribbon ul.open	{background:#EFBA01;}

/*HEADINGS*/
h1	{color:#666;}
h2,
.info h2,
.room-types h2,
.error-type h1,
.turqouise-link    	{color:#EFBA01;}

em,
.main-search h4 span,
aside article h3,
.flights .details h5,
.error-type,
.booking h3 span   	{color:#FDD22B;}

/*BUTTONS*/
.gradient-button,.lb-wrap  {
background: rgb(253,210,43);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZDIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmJhMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(253,210,43,1) 0%, rgba(239,186,1,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,210,43,1)), color-stop(100%,rgba(239,186,1,1)));
background: -webkit-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: -o-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: -ms-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: linear-gradient(to bottom, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd22b', endColorstr='#efba01',GradientType=0 );
}

.gradient-button:hover{
background: rgb(239,186,1);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYmEwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGQyMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(239,186,1,1) 0%, rgba(253,210,43,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,186,1,1)), color-stop(100%,rgba(253,210,43,1)));
background: -webkit-linear-gradient(top, rgba(239,186,1,1) 0%,rgba(253,210,43,1) 100%);
background: -o-linear-gradient(top, rgba(239,186,1,1) 0%,rgba(253,210,43,1) 100%);
background: -ms-linear-gradient(top, rgba(239,186,1,1) 0%,rgba(253,210,43,1) 100%);
background: linear-gradient(to bottom, rgba(239,186,1,1) 0%,rgba(253,210,43,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efba01', endColorstr='#fdd22b',GradientType=0 );
}

.destinations .ribbon:hover,
.locations .ribbon:hover  			{background:url(../images/themes/yellow/bgr/ribbons.png) 0 0 no-repeat ;}
.locations .full-width .ribbon:hover	{background:url(../images/themes/yellow/bgr/ribbons.png) -62px -57px no-repeat ;}

.search-submit 	{background-image:url(../images/themes/yellow/bgr/search-button.png);}
.inner-nav li.active,
.inner-nav li.active:hover {background-image:url(../images/themes/yellow/bgr/inner-nav-active.png);}
.ui-slider-horizontal .ui-slider-handle 	{background-image:url(../images/themes/yellow/ico/ui-slider-handle.png);}

.pager .current,
.pager a:hover	{background:#EFBA01;}

.scroll-to-top 	{background-image:url(../images/themes/yellow/bgr/top-button.png);}

/*CONTENT*/
.deals .description a  {color:#EFBA01;}

.testimonials,
.inner-nav li:hover {
background: rgb(253,210,43);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZDIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmJhMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(253,210,43,1) 0%, rgba(239,186,1,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,210,43,1)), color-stop(100%,rgba(239,186,1,1)));
background: -webkit-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: -o-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: -ms-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: linear-gradient(to bottom, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd22b', endColorstr='#efba01',GradientType=0 );
}

.room-types .image-overlay {background-image:url(../images/themes/yellow/ico/magnify.png);}
.gmap .infoBox		{background-image:url(../images/themes/yellow/bgr/map-popup-hotel.png);}
.score .achieved		{color:#FDD22B;}
.chart dd span		{background:#FDD22B;}
.reviews .pro		{background-image:url(../images/themes/yellow/ico/plus.png);}
.tags li a:hover		{background-color:#FDD22B;}
.get_inspired li:hover figcaption,
.view-type li:hover, 
.view-type li.active	{background:#FDD22B;}

.map-wrap .infoBox	{background:url(../images/themes/yellow/bgr/map-popup.png) no-repeat !important;}

.phone-green 	{background:url(../images/themes/yellow/ico/phone-yellow.jpg) 2px 0 no-repeat;}	
.email-green 	{background:url(../images/themes/yellow/ico/email-yellow.jpg) 0 5px no-repeat;}

.lb-wrap .close 				{background:#FDD22B;}
.lb-wrap input 				{border-color: #EFBA01;}
.lb-wrap label,
.lb-wrap p					{color:#333;}
.lb-wrap .gradient-button 	{color:#E0AE01;}

.entry-header a:hover 	{color:#FDD22B;}

/*FOOTER*/
footer article li {background-image:url(../images/themes/yellow/ico/bullet-yellow-3x3.jpg);}
.social li:hover	{background:url(../images/themes/yellow/ico/icons.png) 0 -50px no-repeat;}

/*FORM ELEMENTS*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
textarea:focus 	{border-color:#EFBA01;}

/*DATEPICKER*/
.ui-datepicker th {
background: rgb(253,210,43);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZDIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmJhMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(253,210,43,1) 0%, rgba(239,186,1,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,210,43,1)), color-stop(100%,rgba(239,186,1,1)));
background: -webkit-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: -o-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: -ms-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: linear-gradient(to bottom, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd22b', endColorstr='#efba01',GradientType=0 );
border-color:#EFBA01;
}

.ui-datepicker .ui-datepicker-today,
.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
background: rgb(253,210,43);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZDIyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmJhMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(253,210,43,1) 0%, rgba(239,186,1,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,210,43,1)), color-stop(100%,rgba(239,186,1,1)));
background: -webkit-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: -o-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: -ms-linear-gradient(top, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
background: linear-gradient(to bottom, rgba(253,210,43,1) 0%,rgba(239,186,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd22b', endColorstr='#efba01',GradientType=0 );
}


@media screen and (max-width: 1024px) {
.destinations .ribbon:focus,
.destinations .ribbon:hover,
.locations .one-fourth  .ribbon:focus,
.locations .one-fourth  .ribbon:hover {background:#FDD22B;}
}